<% 
  const d = new Date();
  let year = d.getFullYear();
%>
<footer>
  <div class="container">
    <p class="copyright">© <%= year %>, CSE Motors</p>
    <p>Contact: <a href="mailto:info@csemotors.com">info@csemotors.com</a> | (234) 456-7890</p>
  </div>
</footer>