<nav>
  <ul class="navigation">
    <li><a href="/" title="Home page">Home</a></li>
    <li><a href="/inv/type/1" title="View our Custom vehicles">Custom</a></li>
    <li><a href="/inv/type/5" title="View our Sedan vehicles">Sedan</a></li>
    <li><a href="/inv/type/3" title="View our SUV vehicles">SUV</a></li>
    <li><a href="/inv/type/4" title="View our Truck vehicles">Truck</a></li>
  </ul>
</nav>
